*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  background-color: #e1efe4;
}
.ten-div{
  font-size: 36px;
  color: #5d5a68;
  padding-top: 18px;
  padding-left: 48px;
}
.all-thong-ke{
 
  width: 80%;
  margin: auto;
  margin-top: 100px;
  background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 1px 3px 2px 3px #a2b1a6;
}
.thong-ke{
  
  width: 100%;
  height: 150px;
  padding: 16px;
  display: flex;
  justify-content: space-between; 
 
 
}
.thong-ke-item{
  width: 20%;
  font-size: 36px;
  border-radius: 8px;
}
.icon-tk{
  width: 50%;
  height: 100%;
  float: left;
}
.ten-tk{
  width: 50%;
  height: 50%;
  float: left;
  padding: 16px;
  color: #5d5a68;
  font-size: 24px;
}
.so-tk{
  width: 50%;
  height: 50%;
  float: left;
  color: #5d5a68;
  padding: 16px;
  font-weight: 500;
  font-size: 40px;
}
.full{
  padding: 32px;
  font-size: 60px;
  color:#d6d2fd;
}