.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .slogan{
    height: 20%;
    font-size: 20px;
    /* align-items: first baseline; */
    transform: translateY(-20%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container .slogan:hover{
    color: yellow;
}


.items{
    width: 100%;
    height: 80%;
    background-color: pink;
    height: 50rem;
    display: flex;
    justify-content: space-around;
}

.item{
    width: 30%;
    border: 1px solid black;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    border-radius: 10px;
}


.item img{
    width: 100%;
    height: 87%;
    /* background-image: url('../img/career/2015-2016/head-avatar.jpg');     */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 10px blueviolet;
}

.item input[type="radio"]{
    /* font-size: 20px; */
    padding: 8px;
    width: 100%;
    height: 2rem;
}

.item label {
    /* display: inline; */
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aliceblue;
    padding: 8px;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.item label:hover{
    background-color: red;
    color: yellow;
}

.items .control{
    color: black;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.items .control:hover{
    opacity: 0.8;
    color: white;
}

.container button{
    font-size: 16px;
    padding: 10px 10px;
    /* color: black; */
    font-weight: bold;
    border-radius: 5px;
    transform: translateY(50%);
}