<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>controller.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGetAllProducts</servlet-name>
        <servlet-class>controller.ProcessGetAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessFilterByPrice</servlet-name>
        <servlet-class>controller.ProcessFilterByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handleFilterByDanhMucLoc</servlet-name>
        <servlet-class>controller.handleFilterByDanhMucLoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessFilterByDanhMucLoc</servlet-name>
        <servlet-class>controller.ProcessFilterByDanhMucLoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessFilterBySoSaoDanhGia</servlet-name>
        <servlet-class>controller.ProcessFilterBySoSaoDanhGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSignin</servlet-name>
        <servlet-class>controller.ProcessSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSignup</servlet-name>
        <servlet-class>controller.ProcessSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHomePage</servlet-name>
        <servlet-class>controller.ProcessHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuLyDangNhap</servlet-name>
        <servlet-class>controller.XuLyDangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XuLyDangKy</servlet-name>
        <servlet-class>controller.XuLyDangKy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProducts</servlet-name>
        <servlet-class>controller.shop.ProcessGetAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSortAndFilterProducts</servlet-name>
        <servlet-class>controller.shop.ProcessSortAndFilterProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGetKeyWordSearch</servlet-name>
        <servlet-class>controller.shop.ProcessGetKeyWordSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProductDetail</servlet-name>
        <servlet-class>controller.shop.ProcessProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.shop.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProductPayment</servlet-name>
        <servlet-class>controller.shop.ProcessProductPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrderPayment</servlet-name>
        <servlet-class>controller.shop.ProcessOrderPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessShopHomePage</servlet-name>
        <servlet-class>controller.shop.ProcessShopHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGetOrderDetail</servlet-name>
        <servlet-class>controller.shop.ProcessGetOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPostCumtomerResponse</servlet-name>
        <servlet-class>controller.shop.ProcessPostCumtomerResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGetAllProducts</servlet-name>
        <url-pattern>/ProcessGetAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessFilterByPrice</servlet-name>
        <url-pattern>/ProcessFilterByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handleFilterByDanhMucLoc</servlet-name>
        <url-pattern>/handleFilterByDanhMucLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessFilterByDanhMucLoc</servlet-name>
        <url-pattern>/ProcessFilterByDanhMucLoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessFilterBySoSaoDanhGia</servlet-name>
        <url-pattern>/ProcessFilterBySoSaoDanhGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSignin</servlet-name>
        <url-pattern>/ProcessSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSignup</servlet-name>
        <url-pattern>/ProcessSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHomePage</servlet-name>
        <url-pattern>/ProcessHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuLyDangNhap</servlet-name>
        <url-pattern>/XuLyDangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XuLyDangKy</servlet-name>
        <url-pattern>/XuLyDangKy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProducts</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSortAndFilterProducts</servlet-name>
        <url-pattern>/ProcessSortAndFilterProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGetKeyWordSearch</servlet-name>
        <url-pattern>/ProcessGetKeyWordSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProductDetail</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrderPayment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessShopHomePage</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGetOrderDetail</servlet-name>
        <url-pattern>/api/v1/get-order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPostCumtomerResponse</servlet-name>
        <url-pattern>/api/v1/post-customer-response</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
